.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
}
.card{
    background: #9898a1;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.imgs{
 width: 100%;
 height: 10rem;
}
@media only screen and (max-width: 1080px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
}
@media only screen and (max-width: 690px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}  
@media only screen and (max-width: 520px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin:  2% 7%;
    }
}  